{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="login-box">
  <h2>Register</h2>
  
  <form method="POST" novalidate>
    {{ form.hidden_tag() }}
    
    <div>
      {{ form.username.label }}
      {{ form.username(class="form-control") }}
      {% if form.username.errors %}
        <span class="error">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div>
  {{ form.email.label }}
  {{ form.email(class="form-control", placeholder="Enter your email") }}
  {% if form.email.errors %}
    <span class="error">
      {% for error in form.email.errors %}
        {{ error }}
      {% endfor %}
    </span>
  {% endif %}
</div>

    <div>
      {{ form.password.label }}
      <div class="password-wrapper">

      {{ form.password(class="form-control") }}
      <button type="button" class="password-toggle"
            onclick="togglePassword('password')">👁</button>
  </div>
      {% if form.password.errors %}
        <span class="error">
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
    </div>

    <div>
      {{ form.confirm_password.label }}
      <div class="password-wrapper">

      {{ form.confirm_password(class="form-control") }}
      <button type="button" class="password-toggle"
            onclick="togglePassword('confirm_password')">👁</button>
  </div>

      {% if form.confirm_password.errors %}
        <span class="error">
          {% for error in form.confirm_password.errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
    </div>

    <div>
      {{ form.submit(class="btn") }}
    </div>
  </form>

  <p>Already have account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
</div>

{% endblock %}



